var sub_img = function(url){
  if (url.length == 0 || url == undefined) {
    return;
  }
  return url.substring(0, parseInt(url.length - 6))
}

var tags_one = function(tag){
  console.log(tag.split(','))
  if (tag.length == 0 || tag == undefined) {
    return;
  }
  console.log(tag.split(','))
}

var conceal_name = function(name){
  if (name.length == 0 || name == undefined) {
    return;
  }
  var str = name
  var str_sub = str.substring(1, str.length - 3)
  return str.replace(str_sub, '****')
}
module.exports = {
  sub_img : sub_img,
  tags_one : tags_one,
  conceal_name: conceal_name,
}